---
import { Canvas } from "@components";
---

<div class="game">
	<Canvas client:only="react" />
</div>

<style>
	.game {
		border: 5px solid #161616;
		box-shadow: #0000008c 0px 0px 11px 2px;
		background-color: #7fc5ff;
		z-index: 1;
	}

	.game > :global(canvas) {
		display: block;
		height: 100%;
	}
</style>